---
import '../styles/global.css';

interface Props {
  title?: string;
}

const { title = 'BI Reports Hub' } = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
